<h3>{{ ticker }}</h3>
<p>Price: {{ price }}</p>
<p>Previous Close: {{ previous_close }}</p>
<p>Open: {{ open_price }}</p>
<p>Bid: {{ bid }}</p>
<p>Ask: {{ ask }}</p>
<p>Day's Range: {{ day_range }}</p>
<p>52 Week Range: {{ week_range }}</p>
<p>Volume: {{ volume }}</p>
<p>Avg. Volume: {{ avg_volume }}</p>
<p>Market Cap: {{ market_cap }}</p>
<p>Beta (5Y Monthly): {{ beta }}</p>
<p>PE Ratio (TTM): {{ pe_ratio }}</p>
<p>EPS (TTM): {{ eps }}</p>
<p>Earnings Date: {{ earnings_date }}</p>
<p>Forward Dividend & Yield: {{ forward_dividend }}</p>
<p>Ex-Dividend Date: {{ ex_dividend_date }}</p>
<p>1y Target Est: {{ target_est }}</p>